{
    "lang": "fr-FR",

    "lisa_url": "localhost",
    "lisa_port": 10042,
    "enable_secure_mode": true,

    "debug": {
        "debug_input": true,
        "debug_output": true
    },
    "zone": "Salon",

    "tts": "pico",
    "voicerss_key": "03e60c7e670b405f9210cd025c2bb440",

    "wit_token": "Z45ZDBO54WA2OBL3N4USAYGF5FMHVCCL",
    "wit_confidence": 0.600,

    "hmm": "hub4wsj_sc_8k",
    "keyword_score": -20000
}
